.idea/
.env

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Database
*.db
*.db-shm
*.db-wal

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Secrets
appsettings.*.json
appsettings.Development.json

# NuGet
*.nupkg
*.snupkg
**/packages/*

# JetBrains Rider
*.sln.iml
